<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Inter">
</head>
<body class="box-border p-0 m-auto">
    <header class="w-[1240px] mx-auto flex justify-between">
        <img class="w-fit" src="img/page_1/logo.png" alt="">
        <div class="menu flex gap-[32px]">
            <li><a class="text-[18px] font-[600px] leading-[22px]" href="#">Trang Chủ</a></li>
            <li><a class="text-[18px] font-[600px] leading-[22px]" href="#">Sản Phẩm</a></li>
            <li><a class="text-[18px] font-[600px] leading-[22px]" href="#">Về Chúng Tôi</a></li>
            <li><a class="text-[18px] font-[600px] leading-[22px]" href="#">Liên Hệ</a></li>
        </div>
        <div class="login-signin flex gap-">
            <button>Đăng Nhập</button>
            <button>Đăng Ký</button>
        </div>
    </header>
    <main>
        <img src="img/page_1/banner.png" alt="">
        <div class="main-content">
            <h2>Our Products</h2>
            <div class="gallery-1">
                <div class="card">
                    <img src="img/page_1/product_1.png" alt="">
                    <div class="title">Product 1</div>
                    <div class="descript">description 1</div>
                    <div class="price">$100</div>
                </div>
                <div class="card">
                    <img src="img/page_1/product_1.png" alt="">
                    <div class="title">Product 1</div>
                    <div class="descript">description 1</div>
                    <div class="price">$100</div>
                </div>
                <div class="card">
                    <img src="img/page_1/product_1.png" alt="">
                    <div class="title">Product 1</div>
                    <div class="descript">description 1</div>
                    <div class="price">$100</div>
                </div>
                <div class="card">
                    <img src="img/page_1/product_1.png" alt="">
                    <div class="title">Product 1</div>
                    <div class="descript">description 1</div>
                    <div class="price">$100</div>
                </div>
            </div>
            <div class="show-more">Show More</div>
            <h2>Tips & Tricks</h2>
            <div class="gallery-2">
                <div class="card-2">
                    <img src="img/page_1/tip_1.png" alt="">
                    <div class="title-2">How to create a living room to love</div>
                    <div class="time">20 jan 2020</div>
                </div>
                <div class="card-2">
                    <img src="img/page_1/tip_1.png" alt="">
                    <div class="title-2">How to create a living room to love</div>
                    <div class="time">20 jan 2020</div>
                </div>
                <div class="card-2">
                    <img src="img/page_1/tip_1.png" alt="">
                    <div class="title-2">How to create a living room to love</div>
                    <div class="time">20 jan 2020</div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <img src="img/page_1/logo.png" alt="">
        <div class="menu-2">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </div>
    </footer>
</body>
</html>